<div class="container">
  <div class="p-grid">
    <div class="p-col title">
      {{ title }}
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-5">
      <p-panel header="{{ leftPanelTitle }}">

        <div class="p-grid">
          <div class="p-col carPlate">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon">A-Z 0-9</span>
              <input
                type="text"
                pKeyFilter="alphanum"
                pInputText
                placeholder="Car number plate">
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7 date-title">
            <span>Date</span>
            <p-inputMask
              [(ngModel)]="date"
              class="date"
              mask="99/99/9999"
              placeholder="dd/mm/yyyy"
              slotChar="mm/dd/yyyy"></p-inputMask>
          </div>

          <div class="p-col-5">
            <span>Time</span>
            <p-inputMask
              [(ngModel)]="time"
              mask="99:99"
              placeholder="hh:mm"
              slotChar="hh:mm"></p-inputMask>
          </div>
        </div>

        <div class="p-grid p-justify-end">
          <div class="p-col-3">
            <button pButton [disabled]=isBtnDisabled type="button" label="{{ btnTitle }}" class="ui-button-rounded ui-button-success"></button>
          </div>
        </div>

      </p-panel>
    </div>

    <div class="p-col-7">
      <p-panel header="{{ rightPanelTitle }}">
        Content
      </p-panel>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
