.container {
  font-family: Ubuntu;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 10%;
}

.title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

:host ::ng-deep .carPlate input {
  width: 128%;
  height: 33px;
  margin-top: 3.5%;
  text-transform: uppercase;
}

.carPlate input::placeholder {
  padding-left: 2%;
}

.carPlate span {
  width: 20%;
  height: 33px;
  font-size: 11px;
  margin-top: 2%;
  margin-left: 5%;
}

:host ::ng-deep .ui-inputtext {
  width: 90%;
}

:host ::ng-deep .date input {
  margin-left: 0%;
}

.date-title span{
  margin-left: 8%;
}

.pyp-button {
  margin-top: 1%;
  margin-left: 80%;
  margin-right: auto;
}

:host ::ng-deep .ui-dialog-titlebar-icon {
  color: white;
}
